.centro{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 150;
    height: 150;
}
.redes_sociais{
    position: relative;
    top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.texto{
    position: relative;
    top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.maiores{
    position: relative;
    top: 50px;
    font-size: 17px;
}
